/.metadata/
######################
# Project Specific
######################
logs/
/log/
/target/
dist/
.idea/
*.iml
######################
# Node
######################
/node/
node_tmp/
jhip-frontend/node_modules/
npm-debug.log.*
/.awcache/*
######################
# Package Files
######################
*.jar
*.war
*.ear
*.db
######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar
######################
# ESLint
######################
.eslintcache
######################
# SASS
######################
.sass-cache/
######################
/Karma
