<div>
    <h1 style="color:#007bff;font-weight:bold">
        <span>Knowledge Areas</span>
        <button class="btn btn-primary float-right jh-create-entity create-space" [routerLink]="['/', { outlets: { popup: ['space-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Knowledge Area
            </span>
        </button>
    </h1>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="spaces">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let space of spaces ;trackBy: trackId">
               <td><a href="https://github.com/StanfieldSystems/KARMA"
				       target="_blank" rel="noopener">{{space.name}}</a></td>
               <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../space', space.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'space/'+ space.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'space/'+ space.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
