<div>
    <h1 class="font-weight-bold">
    	<span *ngIf="showAll">All</span>
        <span>Knowledge Articles</span>
        <span *ngIf="!showAll" style="color:black; margin-left:40px; font-size: large; vertical-align: middle;" >  {{filterHeading}}</span>
        <button class="btn btn-primary float-right jh-create-entity create-space" [routerLink]="['/', { outlets: { popup: ['article-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Knowledge Article
            </span>
        </button>
    </h1>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="articles">
        <table class="table table-striped">
            <thead>
            	<tr>
            		<th><span class="font-weight-bold">Title</span></th>
            		<th><span class="font-weight-bold">Space</span></th>
            	<th></th>
            	</tr>
            </thead>
            <tbody>
            <tr *ngFor="let article of articles ;trackBy: trackId">
               <td><a class="btn-link" [routerLink]="['../article', article.id ]">{{article.title}}</a></td>
               <td><span>{{article.space.name}}</span></td>
               <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../article', article.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>