
<div *ngIf="article">
    <h1 class="font-weight-bold">{{article.title}}</h1>
    <span><small>Created on {{article.date | date: 'short'}} by {{article.space.user.login}}</small></span>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dd>
           	<!-- <span>{{article.content}}</span> -->
           	<span [innerHTML]="article.content"></span>
        </dd>
 	</dl>   
    <button type="submit"
            (click)="previousState()"
            class="btn btn-secondary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button style="background-color:#485b8c;border-color:#9B9B9B;border-width:1px;" type="button"
            [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
