<div>
    <h2>
        <span>Article Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-article-history" [routerLink]="['/', { outlets: { popup: ['article-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Article History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="articleHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date Accessed</span></th>
            <th><span>Article</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let articleHistory of articleHistories ;trackBy: trackId">
                <td><a [routerLink]="['../article-history', articleHistory.id ]">{{articleHistory.id}}</a></td>
                <td>{{articleHistory.dateAccessed | date:'medium'}}</td>
                <td>
                    <div *ngIf="articleHistory.article">
                        <a [routerLink]="['../article', articleHistory.article?.id ]" >{{articleHistory.article?.id}}</a>
                    </div>
                </td>
                <td>
                    {{articleHistory.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../article-history', articleHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article-history/'+ articleHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'article-history/'+ articleHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
