
<div *ngIf="articleHistory">
    <h2><span>Article History</span> {{articleHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date Accessed</span></dt>
        <dd>
            <span>{{articleHistory.dateAccessed | date:'medium'}}</span>
        </dd>
        <dt><span>Article</span></dt>
        <dd>
            <div *ngIf="articleHistory.article">
                <a [routerLink]="['/article', articleHistory.article?.id]">{{articleHistory.article?.id}}</a>
            </div>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{articleHistory.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'article-history/'+ articleHistory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
