<div>
    <h2>
        <span>Tag Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-tag-history" [routerLink]="['/', { outlets: { popup: ['tag-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Tag History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tagHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date Accessed</span></th>
            <th><span>Tag</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tagHistory of tagHistories ;trackBy: trackId">
                <td><a [routerLink]="['../tag-history', tagHistory.id ]">{{tagHistory.id}}</a></td>
                <td>{{tagHistory.dateAccessed | date:'medium'}}</td>
                <td>
                    <div *ngIf="tagHistory.tag">
                        <a [routerLink]="['../tag', tagHistory.tag?.id ]" >{{tagHistory.tag?.id}}</a>
                    </div>
                </td>
                <td>
                    {{tagHistory.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tag-history', tagHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tag-history/'+ tagHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tag-history/'+ tagHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
